* {
   box-sizing: border-box;
}

html {
   display: flex;
   min-height: 100lvh;

   font-size: 16px;
   align-items: stretch;
}

body {
   flex: 1;
   margin: 0;
   
   background-color: var(--bg-color);
   color: var(--text-color);

   line-height: 1.5;
}

input, textarea, button {
   font: inherit;
   color: inherit;
}