:root {
   --split-x: 0px;
   --split-y: 0px;

   --handle-x: 0px;
   --handle-y: 0px;
}

.app-space {
   position: relative;
   height: 100%;

   overflow: hidden;
}

.app-space--space-wrapper {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;

   user-select: none;
}

.app-space--space {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
}

.app-space--img {
   position: absolute;
   top: 0;
   left: 0;

   top: 50%;
   left: 50%;

   transform: translate(-50%, -50%);

   transition: filter .5s ease-out;

   --real-split-x: calc(50% + var(--split-x));
   --real-split-y: calc(50% + var(--split-y));

   &:nth-child(1) {
      clip-path: inset(0 calc(100% - var(--real-split-x)) calc(100% - var(--real-split-y)) 0);
   }

   &:nth-child(2) {
      clip-path: inset(0 0 calc(100% - var(--real-split-y)) var(--real-split-x));
   }

   &:nth-child(3) {
      clip-path: inset(var(--real-split-y) 0 0 var(--real-split-x));
   }

   &:nth-child(4) {
      clip-path: inset(var(--real-split-y) calc(100% - var(--real-split-x)) 0 0);
   }
}

.app-space--img__loading {
   filter: grayscale(1);
}

.app-space--img__ready {
   display: block;
}

.app-space--handle {
   --size: 8px;
   --real-size: 16px;

   --bg: rgba(0 0 0 / 0.8);
   --shadow-color: rgba(255 255 255 / 0.1);

   position: absolute;
   z-index: 8;

   display: flex;
   justify-content: center;
   align-items: stretch;

   border: 0;
   padding: 0;
   background: transparent;
   outline: none;

   &:hover,
   &:active {
      --bg: #000;
      --shadow-color: rgba(255 255 255 / 0.2);
   }

   &:before {
      content: '';
      flex-basis: var(--size);

      background-color: var(--bg);
      box-shadow: 0 0 0 1px var(--shadow-color);

      transition: background-color 0.2s ease-out,
         box-shadow 0.2s ease-out;
   }
}

.app-space--handle__v {
   width: var(--real-size);
   margin: 0 calc(var(--real-size) / -2);

   top: 0;
   bottom: 0;
   left: calc(50% + var(--handle-x));

   cursor: ew-resize;
}

.app-space--handle__h {
   height: var(--real-size);
   margin: calc(var(--real-size) / -2) 0;

   left: 0;
   right: 0;
   top: calc(50% + var(--handle-y));

   flex-direction: column;

   cursor: ns-resize;
}

.app-space--handle-xy {
   position: absolute;
   z-index: 10;

   top: calc(50% + var(--handle-y));
   left: calc(50% + var(--handle-x));

   transform: translate(-50%, -50%);

   width: 32px;
   height: 32px;

   opacity: 0;
   background-color: rgba(0 0 0 / 0.8);
   border: none;
   cursor: move;
}