.img-controller {
   display: flex;
   flex-direction: column;
   gap: 4px;

   &.img-controller__tr,
   &.img-controller__br {
      .img-controller--stats {
         text-align: right;
      }
   }
}

.img-controller--url {
   min-height: 35px;
}

.img-controller--url {
   font-size: 14px;
   display: block;
}

.img-controller--inp {
   padding: 8px;

   width: 350px;
   max-width: 100%;

   background-color: rgba(0 0 0 / 0.65);
   border-radius: 4px;
   border: none;

   outline: none;
   transition: background-color 0.2s ease-out;

   font-family: Roboto;
   word-break: break-all;
   
   resize: none;
   
   scrollbar-width: thin;
   scrollbar-color: var(--sub-color) transparent;

   &:hover,
   &:focus {
      background-color: rgba(0 0 0 / 0.85);
   }
}

.img-controller--stats {
   margin: 0;
   text-shadow: 0 0 1px rgba(0 0 0 / 0.5);

   font-size: 14px;
   font-weight: 600;

   padding: 8px;

   background-color: rgba(0 0 0 / 0.65);
   border-radius: 4px;
   border: none;
}